# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Systemowe pliki
.DS_Store
*.env
*.log

# Edytorzy i IDE
.idea/
.vscode/

# Build output (jeśli jest generowany lokalnie i nie chcesz go kopiować)
build/
dist/